body{
    background: cornflowerblue;
    height: 100vh;
}
.register_page{
    width: 360px;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #ffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}
.form input{
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form select{
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.submit{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
    cursor: pointer;
}
h1 {
    text-align: center;
}

li:nth-child(3) {
    display: none !important;
 }

 .predict {
    display: grid;
 }

 .result {
     margin-top: 5px;
     margin-bottom: 5px;
     font-weight: 800;
     font-size: 20px;
 }

 .popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
  }
  
  button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
  }
  
  button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
  }